<h1>welcome to Bookers !!</h1>
<p><strohg>In Bookers,</strohg></p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<%= link_to new_user_session_path do %>
  <p>Log in</p>
<% end %>
<%= link_to new_user_registration_path do %>
  <p>Sign up</p>
<% end %>